.container {
  width: 60rem;
  margin: 0 auto;
}

.wrapper {
  composes: font-primary from "../shared/css/typography.css";
  composes: size-primary from "../shared/css/typography.css";
  composes: color-primary from "../shared/css/typography.css";

  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  max-width: 32em;
}

.logo {
  composes: font-bold from "../shared/css/typography.css";
  composes: size-primary from "../shared/css/typography.css";
}
