@value vars "../shared/css/variables.css";
@value site-width, measure, line-height, spacing, spacing-small, spacing-large, small-viewport from vars;

.container {
  margin: 0 auto;
  max-width: site-width;
}

.wrapper {
  composes: font-primary size-primary from "../shared/css/typography.css";
  composes: color-primary from "../shared/css/typography.css";
  -webkit-font-smoothing: antialiased;
  line-height: line-height;
  max-width: measure;
  padding: spacing-large spacing;

  @media (max-width: small-viewport) {
    padding: spacing spacing-small;
  }
}

.logo {
  composes: spacing-secondary from "../shared/css/layout.css";
  composes: font-bold size-primary from "../shared/css/typography.css";
}
