.wrapper {
  composes: font-secondary from "../shared/css/typography.css";
  composes: size-secondary from "../shared/css/typography.css";
}

.link {
  composes: color-primary link from "../shared/css/typography.css";
}
