@value font-alt, font-size-alt, font-size-small, color-primary, spacing, spacing-small, small-viewport from "../shared/css/variables.css";

.wrapper {
  composes: spacing-secondary from "../shared/css/layout.css";
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.subheading {
  padding-left: spacing-small;
  margin-bottom: spacing;

  @media (max-width: small-viewport) {
    padding-left: 0;
  }
}

.heading {
  composes: font-secondary from "../shared/css/typography.css";
  border-bottom: 1px solid color-primary;
  color: color-primary;
  font-size: font-size-alt;
  font-weight: normal;
  opacity: 0.6;
  padding: spacing-small;

  @media (max-width: small-viewport) {
    display: none;
  }
}

.alignment {
  width: 20%;

  @media (max-width: small-viewport) {
    padding-left: 0;
  }
}
