.wrapper {
  composes: spacing-large from "../shared/css/layout.css";
}

.title {
  composes: heading from "../shared/css/typography.css";
  composes: spacing-primary from "../shared/css/layout.css";
}

.list {
  list-style: none;
  padding: 0;
}
