.link {
  composes: color-primary from "../shared/css/typography.css";
  composes: hspacing-primary from "../shared/css/layout.css";
  display: inline-block;
  max-width: 20em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}

.date {
  composes: font-secondary from "../shared/css/typography.css";
  opacity: 0.5;
}
