.link {
  composes: color-primary from "../shared/css/typography.css";
  composes: mr-primary from "../shared/css/layout.css";

  &:hover {
    text-decoration: none;
  }
}

.date {
  composes: font-secondary from "../shared/css/typography.css";
  opacity: 0.5;
}
