@value font-alt, font-size-alt, font-size-small, color-primary, spacing-small, small-viewport from "../shared/css/variables.css";

.wrapper {
  border-bottom: 1px solid color-primary;
  padding: spacing-small;

  @media (max-width: small-viewport) {
    padding: 0;
    display: block;
    width: 100%;
    border-bottom: 0;
  }
}

.link,
.meta {
  composes: font-secondary from "../shared/css/typography.css";
  color: color-primary;
  font-size: font-size-alt;

  @media (max-width: small-viewport) {
    font-size: font-size-small;
  }
}

.link {
  composes: link from "../shared/css/typography.css";
}

.meta {
  opacity: 0.6;
}
