.wrapper {
  composes: spacing-secondary from "../shared/css/layout.css";
}

.title {
  composes: heading from "../shared/css/typography.css";
  composes: spacing-primary from "../shared/css/layout.css";
}

.content {
  composes: flex from "../shared/css/layout.css";
  composes: spacing-primary from "../shared/css/layout.css";
  align-items: center;
}

.part {
  composes: hspacing-primary from "../shared/css/layout.css";
}

.link {
  composes: color-primary link from "../shared/css/typography.css";
}
