@value small-viewport, spacing-small from "../shared/css/variables.css";

.wrapper {
  composes: spacing-secondary from "../shared/css/layout.css";
}

.content {
  composes: flex from "../shared/css/layout.css";
  composes: spacing-primary from "../shared/css/layout.css";
  flex-wrap: wrap;
  align-items: center;
}

.link {
  composes: color-primary link from "../shared/css/typography.css";
  margin-left: spacing-small;
}
