@value vars: "./variables.css";
@value spacing, spacing-small, spacing-large, line-height, small-viewport from vars;

.flex {
  display: flex;
}

.spacing-primary {
  margin: 0 0 spacing;

  @media (max-width: small-viewport) {
    margin: 0 0 spacing-small;
  }
}

.spacing-secondary {
  margin: 0 0 spacing-large;

  @media (max-width: small-viewport) {
    margin: 0 0 spacing;
  }
}

.hspacing-primary {
  margin-right: spacing-small;
}

.wrapper {
  composes: font-primary size-primary from "./typography.css";
  composes: color-primary from "./typography.css";
  -webkit-font-smoothing: antialiased;
  line-height: line-height;
  margin: 0 auto;
  padding: 0 spacing-large;

  @media (max-width: small-viewport) {
    padding: 0 spacing-small;
  }
}
