:root {
  --spacing: 1.6rem;
  --spacing-small: calc(var(--spacing) / 2);
  --spacing-large: calc(var(--spacing) * 2);
  --spacing-xlarge: calc(var(--spacing) * 4);
}

.flex {
  display: flex;
}

.mr-primary {
  margin-right: var(--spacing-small);
}

.spacing-primary {
  margin: 0 0 var(--spacing);
}

.spacing-large {
  margin: 0 0 var(--spacing-large);
}
